<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>View Student</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              &nbsp;Back</a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <tbody>
          <tr>
            <td>
              <label><b>First Name</b></label>
            </td>
            <td>
              <span>{{ studentDetail.first_name }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Last Name</b></label>
            </td>
            <td>
              <span>{{ studentDetail.last_name }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Gender</b></label>
            </td>
            <td>
              <span>{{ studentDetail.gender }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Age</b></label>
            </td>
            <td>
              <span>{{ studentDetail.Age }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Phone</b></label>
            </td>
            <td>
              <span>{{ studentDetail.mobile_Number }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Address</b></label>
            </td>
            <td>
              <span>{{ studentDetail.address }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>